<body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Note Taker
      </a>
      <div class="icons">
        <i class="fas fa-save text-light save-note"></i>
        <i class="fas fa-pen text-light new-note"></i>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 list-container">
          <div class="card">
            <ul class="list-group">
            </ul>
          </div>
        </div>
        <div class="col-8">
          <input class="note-title" placeholder="Note Title" maxlength="28" type="text">
          <textarea class="note-textarea" placeholder="Note Text"></textarea>
        </div>
      </div>
    </div>
    <script src="/assets/js/index.js"></script>
  </body>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>